html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 15px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  color: #09080c;
}

div {
  display: block;
}

* {
  box-sizing: border-box;
}
